.landing {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .content {
    order:2;
    text-align: center;

    .landing-message {
      font-family: DINPro-Bold;
      font-weight: 900;
      font-size: 2.1rem;
      line-height: 3rem;
      margin: 40px 0;
    }

    .cta {
      padding: 10px 20px;
      background: $yellow;
      border-radius: 20px;
      color: $white;

      &:hover {
        background: $dark-yellow;
        @include transit;
      }
    }
  }

  .img-container {
    margin: 20px 0;
  }
}

#process {
  margin: 40px 0;
  padding: 10px;

  .heading {
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-family: DINPro-Bold;
      font-weight: 700;
      font-size: 2rem;
      padding: 20px;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;

    .card {
      margin: 20px;

      .card_image {
        width: 150px;
        margin: 0 auto;
      }

      .card_title {
        margin: 10px 0;

        h3 {
          font-family: DINPro-Medium;
          text-align: center;
          font-size: 1.2rem;
        }
      }
      .card_content {
        p {
          font-family: DINPro-Light;
          text-align: center;
        }
      }
    }
  }
}

@include md {
  .landing {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 40px;

    .content {
      order:2;
      text-align: center;

      .landing-message {
        font-family: DINPro-Bold;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 40px 0;
      }

      .cta {
        padding: 15px 30px;
        background: $yellow;
        border-radius: 30px;
        color: $white;
        font-size: 1.5rem;

        &:hover {
          background: $dark-yellow;
          @include transit;
        }
      }
    }

    .img-container {
      margin: 20px 0;
    }
  }
  #process {
    margin: 40px 0;
    padding: 10px;

    .heading {
      h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: DINPro-Bold;
        font-weight: 700;
        font-size: 2rem;
        padding: 20px;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 10px;

      .card {
        margin: 20px;

        .card_image {
          width: 150px;
          margin: 0 auto;
        }

        .card_title {
          margin: 10px 0;

          h3 {
            font-family: DINPro-Medium;
            text-align: center;
            font-size: 1.2rem;
          }
        }
        .card_content {
          p {
            font-family: DINPro-Light;
            text-align: center;
          }
        }
      }
    }
  }
}
@include ipad {
  #process {
    margin: 40px 0;
    padding: 10px;

    .heading {
      h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: DINPro-Bold;
        font-weight: 700;
        font-size: 2rem;
        padding: 20px;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 10px;

      .card {
        margin: 20px;

        .card_image {
          width: 150px;
          margin: 0 auto;
        }

        .card_title {
          margin: 10px 0;

          h3 {
            font-family: DINPro-Medium;
            text-align: center;
            font-size: 1.5rem;
          }
        }
        .card_content {
          p {
            font-family: DINPro-Light;
            text-align: center;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}



@include lg {
  .landing {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    min-height: 70vh;

    .content {
      order: 1;
      text-align: left;

      .landing-message {
        font-family: DINPro-Bold;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 30px;
      }

      .cta {
        padding: 10px 20px;
        background: $yellow;
        border-radius: 20px;
        color: $white;
        margin:0 30px;

        &:hover {
          background: $dark-yellow;
          @include transit;
        }
      }
    }

    .img-container {
      order: 2;
    }
  }

  #process {
    padding: 10px;

    .heading {
      h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: DINPro-Bold;
        font-weight: 700;
        font-size: 2rem;
        padding: 20px;
      }
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 10px;

      .card {
        margin: 20px;

        .card_image {
          width: 150px;
          margin: 0 auto;
        }

        .card_title {
          margin: 10px 0;

          h3 {
            font-family: DINPro-Medium;
            text-align: center;
            font-size: 1.5rem;
          }
        }
        .card_content {
          p {
            font-family: DINPro-Light;
            text-align: center;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
@include xl {
  .landing {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    align-items: center;
    padding: 0 40px;

    .content {
      order: 1;
      text-align: left;

      .landing-message {
        font-family: DINPro-Bold;
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 30px;
      }

      .cta {
        padding: 10px 20px;
        background: $yellow;
        border-radius: 20px;
        color: $white;
        margin:0 30px;

        &:hover {
          background: $dark-yellow;
          @include transit;
        }
      }
    }

    .img-container {
      order: 2;
    }
  }
}
