@import "./variables";
@import "./elements/navbar";
@import "./elements/sidebar";
@import "./tasks";
@import "./index";
@import "./login";
@import "./elements/footer";

@font-face {
  font-family: DINPro-Light;
  src: url("../fonts/DINPro-Light.otf");
}
@font-face {
  font-family: DINPro-Regular;
  src: url("../fonts/DINPro-Regular.otf");
}
@font-face {
  font-family: DINPro-Bold;
  src: url("../fonts/DINPro-Bold.otf");
}
@font-face {
  font-family: DINPro-Medium;
  src: url("../fonts/DINPro-Medium.otf");
}

html {
  font-family: DINPro-Regular;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: DINPro-Regular;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  color: $purple;
  background-color: $grey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
}
